

/* stats */
.stats .grid{
    row-gap: 50px;
}

.header{
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2), 0 3px 30px 0 rgba(0, 0, 0, 0.19);
}

/* footer */

@media screen and (min-device-width:220px) and (max-device-width:750px){
    .footer{
       display: flex;
       align-items: center;
       flex-direction: column;
    }
    .copyRight{
        text-align: center;
        margin-top: 15px;
    }
}

/* products */
/* modals */
 .model-inner{
    display:none !important;
}

